---
layout: default
title: About
permalink: /About.html
description: "Learn more about Kieran Pritchard, a motivated Digital Foundation T-Level student at Bournemouth and Poole College with a passion for cybersecurity and programming. Discover my skills, top projects, certifications, educational background, and professional journey."
---

<!-- About page intro section -->

<div class="background-odd">
    <div class="content-container align-content-center">
        <div class="row h-100">
            <div class="col-sm align-content-center">
                <h1 class="text-center">About Me</h1>
                <p>
                    I am a hardworking and motivated individual, with a strong interest in pursuing a career in cyber security.
                    Currently, I am studying a Foundation T-Level in Digital.
                    I take an organized and reliable approach to my work, always striving to complete tasks to the highest possible standard.
                </p>
            </div>
            <div class="col-sm order-first order-md-1 text-center align-content-center">
                <img id="About-Me-Home-Page-Image" src="{{ '/res/kieran-pritchard-working-on-computer.webp' | relative_url }}" alt="Kieran Pritchard working on a computer in a classroom.">
            </div>
        </div>
    </div>
</div>

<div class="background-even">
    <div class="content-container align-content-center">
        <blockquote class="text-center">
            <span id="typewriter" ></span>
        </blockquote>
    </div>
</div>

<!-- About page skills section-->

<div class="background-odd background-auto">
    <h2 class="text-center">Skills</h2>
    <div class="container-fluid h-100">
        <div class="row h-75 align-items-center">
            <div class="col-sm-6">
                <h3>Soft Skills</h3>
                <ul class="list-unstyled">
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Communication
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Teamwork
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Active Listening
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Leadership
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Problem Solving
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Critical Thinking
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Strategic Planning
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Time Management
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Organisation Skills
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Adaptability
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Resilience
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Creativity
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Self-Directed Learning
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3>Hard Skills</h3>
                <ul>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Python
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            HTML, CSS, & JavaScript
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Git & Github
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Bootstrap
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Linux
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Kali Linux
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Ethical Hacking
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Computer Networking
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Kali Linux
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Cryptography
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Cloud Computing
                        </button>
                    </li>
                    <li>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-title="Popover Title"
                            data-bs-content="Here’s some amazing popover content!"
                        >
                            Cyber Security Awareness
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="background-even background-auto">
    <h2 class="text-center">My Top Projects</h2>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3">
            {% assign top_projects = site.portfolio | sort: 'date' | reverse | where: "featured", true | limit: 6 %}
            {% for project in top_projects %}
            <div class="col-md">
                <div class="project-page-project-card">
                    <div class="project-page-project-card-image-background">
                        {% if project.icon %}
                        <img class="project-page-project-card-image" src="{{ project.icon | relative_url }}" alt="{{ project.title }}">
                        {% else %}
                        <img class="project-page-project-card-image" src="{{ '/res/Icons/default-project-icon.webp' | relative_url }}" alt="{{ project.title }}">
                        {% endif %}
                    </div>
                    <div>
                        <h5 class="project-page-project-card-title">
                            <a class="project-page-project-card-title-link" href="{{ project.url | relative_url }}">{{ project.title }}</a>
                        </h5>
                        <p class="project-page-project-card-text">Topics: 
                            {% for topic in project.topics %}
                            <span class="topic">{{ topic }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Certifications Section -->
<div class="background-odd">
    <h2 class="text-center">Certifications</h2>
    <div class="content-container align-content-center">

        <!-- Standard Certification List -->
        <ul class="list-unstyled">
            <li class="certifications">
                <strong>Introduction to Cyber Security</strong> - Open University|OpenLearn — 2024
            </li>
            <li class="certifications mt-3">
                <strong>iDEA Bronze Award</strong> - iDEA Foundation - 2024
            </li>
            <li class="certifications mt-3">
                <strong>iDEA Sliver Award</strong> - iDEA Foundation - 2024
            </li>
            <li class="certifications mt-3">
                <strong>AWS Educate Cloud Computing 101</strong> - AWS Educate - 2025
            </li>
            <li class="certifications mt-3">
                <strong>AWS Educate Getting Started With Storage</strong> - AWS Educate - 2025
            </li>
            <li class="certifications mt-3">
                <strong>AWS Educate Getting Started With Compute</strong> - AWS Educate - 2025
            </li>
            <li class="certifications mt-3">
                <strong>AWS Educate Getting Started With Networking</strong> - AWS Educate - 2025
            </li>
            <li class="certifications mt-3">
                <strong>AWS Educate Getting Started With Databases</strong> - AWS Educate - 2025
            </li>
        </ul>

        <!-- Visual Badges Row -->
        <div class="row mt-5 justify-content-center text-center">
            <div class="badge col-auto">
                <img src="./res/badges/Introduction_to_cyber_security_stay_safe_online.webp" alt="Badge from 'Cyber Security Stay Safe Online" class="badge-image">
            </div>
            <div class="badge col-auto">
                <img src="./res/badges/aws-educate-introduction-to-cloud-101.webp" alt="Badge from 'AWS Educate Introduction To Cloud-101" class="badge-image" style="max-height: 80px;">
            </div>
            <div class="badge col-auto">
                <img src="./res/badges/aws-educate-getting-started-with-storage.webp" alt="Badge from 'AWS Educate Getting Started With Storage" class="badge-image" style="max-height: 80px;">
            </div>
            <div class="badge col-auto">
                <img src="./res/badges/aws-educate-getting-started-with-compute.webp" alt="Badge from 'AWS Educate Getting Started With Compute" class="badge-image" style="max-height: 80px;">
            </div>
            <div class="badge col-auto">
                <img src="./res/badges/aws-educate-getting-started-with-networking.webp" alt="Badge from 'AWS Educate Getting Started With Networking" class="badge-image" style="max-height: 80px;">
            </div>
            <div class="badge col-auto">
                <img src="./res/badges/aws-educate-getting-started-with-databases-training.webp" alt="Badge from 'AWS Educate Getting Started With Databases" class="badge-image" style="max-height: 80px;">
            </div>
        </div>

    </div>
</div>

<!-- Educational history section -->

<div class="background-even auto-background-sm">
    <h2 class="text-center">Educational History</h2>
    <div class="d-flex flex-column content-container justify-content-center">
        <div class="educational-history-card">
            <h5 class="educational-history-title">Bournemouth & Poole College - T-Level: Digital Software Devlopement</h5>
            <p class="educational-history-date">September 2025 - Present</p>
            <p class="educational-history-date">Topics Covered: </p>
            <ul class="educational-history-list">
                <li>Problem solving</li>
                <li>Programming</li> 
                <li>Emerging issues and impact of digital</li> 
                <li>Legislation and regulatory requirements</li>
                <li>Business context / Business Environment</li>
                <li>Data</li> 
                <li>Digital environments</li> 
                <li>Security</li>
            </ul>
        </div>
        
        <div class="educational-history-card">
            <h5 class="educational-history-title">Bournemouth & Poole College - T-Level Foundation in Digital</h5>
            <p class="educational-history-date">September 2024 - June 2025</p>
            <p class="educational-history-date">Topics Covered: </p>
            <ul class="educational-history-list">
                <li>Networking</li>
                <li>Website Design</li>
                <li>Portfolio Devlopement</li>
                <li>Digital Graphics</li>
                <li>Online World</li>
                <li>Technology Systems</li>
            </ul>
        </div>
    </div>
</div>

<div class="background-odd background-auto">
    <h2 class="text-center">Timeline</h2>
    <div class="d-flex flex-column content-container justify-content-center">
        <div class="timeline">

        <div class="timeline-item left">
            <div class="timeline-dot"></div>
            <div class="card timeline-card from-left">
            <div class="card-body">
                <h5 class="card-title">Before 2020</h5>
                <p class="card-text">
                Interest piked in cyber security, triggered by films and T.V shows.
                </p>
            </div>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="timeline-dot"></div>
            <div class="card timeline-card from-right">
            <div class="card-body">
                <h5 class="card-title">2023</h5>
                <p class="card-text">
                Started to learn programming in my first language Python, after college open day.
                </p>
            </div>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="timeline-dot"></div>
            <div class="card timeline-card from-left">
            <div class="card-body">
                <h5 class="card-title">2024</h5>
                <p class="card-text">
                Started at Bournemouth and Poole college; Learned HTML, CSS, Javascript and C++ while working on projects; Done a couple free courses
                </p>
            </div>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="timeline-dot"></div>
            <div class="card timeline-card from-right">
            <div class="card-body">
                <h5 class="card-title">2025</h5>
                <p class="card-text">
                Signed up to Try Hack Me started to build ethical hacking skills.
                </p>
            </div>
            </div>
        </div>

        </div>
    </div>
</div>