---
layout: default
title: Home
permalink: /
description: "Welcome to Kieran Pritchard's personal portfolio. I'm a Digital Foundation T-Level student at Bournemouth and Poole College, passionate about programming and cybersecurity. Explore my latest blogs, recent projects, and learn more about my journey toward a career in cybersecurity."
---
<!-- Short introduction about me-->

<div class="background-odd">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-sm d-flex flex-column justify-content-center">
                <h1>Hello, I'm Kieran Pritchard</h1>
                <p><span id="tagline"></span></p>
                <p>
                    A T-Level Digital Software Devlopement student at Bournemouth and Poole College.
                    I'm passionate about programming and cybersecurity, and I'm eager to turn that passion into a career in cybersecurity.
                </p>

                <div class="d-flex gap-2 justify-content-start">
                    <a href="{{ '/About.html' | relative_url }}" class="main-button">Learn More</a>
                    <a class="secondary-button" href="{{ '/res/Kieran_Pritchard_C.V.pdf' | relative_url }}" download="Kieran_Pritchard_C.V.pdf">
                        Download C.V
                    </a>
                </div>
            </div>

            <div class="col-sm order-first order-md-1 text-center d-flex justify-content-center">
                <img id="Hero-Image-Home-Page" src="{{ '/res/kieran-pritchard-profile-photo.webp' | relative_url }}" alt="A professional headshot of Kieran Pritchard.">
            </div>
        </div>
    </div>
</div>

<!-- Shortened about me  -->

<div class="background-even">
    <h2 class="text-center">About Me</h2>

    <div class="container h-100">
        <div class="row h-100 align-items-center">

            <div class="col-sm text-center d-flex justify-content-center">
                <img id="About-Me-Home-Page-Image" src="{{ '/res/kieran-pritchard-working-on-computer.webp' | relative_url }}" alt="Kieran Pritchard working on a computer in a classroom.">
            </div>

            <div class="col-sm order-first order-sm-1 d-flex flex-column justify-content-center">
                <p>
                    I am a hardworking and motivated individual who takes a reliable and organized approach to work.
                    Determined to reach the goals ahead, I do whatever is necessary to achieve them—whether that means learning independently in my own time or gaining experience through hands-on practice.
                </p>
            </div>

        </div>
    </div>
</div>

<!-- Recent Blogs section -->

<div class="background-odd background-auto">
    <h2 class="text-center">Recent Blogs</h2>
    <div class="d-flex flex-column justify-content-center content-container">
        {% for post in site.posts limit:3 %}
        <div class="recent-blog-post">
            <!-- Blog post -->
            <div class="row">
                <div class="col-md-2 d-none d-lg-block">
                    <img class="home-page-recent-blogs-image" src="{{ post.thumbnail | relative_url }}" alt="{{ post.thumbnail_alt }}">
                </div>
                <div class="col-md-10">
                    <h5 class="recent-blog-post-title">
                        <a class="recent-blog-post-title-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </h5>
                    <p class="recent-blog-post-text">{{ post.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Recent projects section-->

<div class="background-even auto-background-md auto-background-sm">
    <h2 class="text-center">Recent Projects</h2>
    <!-- Cards for recent Projects-->
    <div class="row h-100 align-content-center">
        {% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
        {% assign main_projects = '' | split: '' %}
        {% for project in sorted_portfolio %}
            {% assign path_parts = project.relative_path | split: '/' %}
            {% if path_parts.size == 2 %}
                {% assign main_projects = main_projects | push: project %}
            {% endif %}
        {% endfor %}
        {% for project in main_projects limit:3 %}
            <div class="col-md">
                <div class="recent-project-card text-center">
                    <div class="recent-project-card-img-background">
                        <img class="recent-project-card-img" src="{{ project.icon | relative_url }}" alt="{{ project.title }}">
                    </div>
                    <div>
                        <h5 class="recent-project-card-title">{{ project.title }}</h5>
                        <p class="recent-project-card-text">{{ project.description }}</p>
                        <a href="{{ project.url | relative_url }}"><button class="recent-project-card-button">Find Out More</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>