---
layout: default
title: Projects
permalink: /Projects.html
description: "Explore Kieran Pritchard's projects showcasing skills in programming, cybersecurity, and digital development. Browse recent work, featured projects, and innovative solutions that highlight creativity, technical expertise, and hands-on learning."
---

<!-- Intro section for projects page-->

<div class="background-odd">
    <div class="h-100 align-content-center container">
        <h2 class="text-center">Welcome To My Projects</h2>
        <p>
            On this page you will find a curated collection of work which showcases my various skills.
            For example, one project might be about me coding something new, whist another may focus on me gaining a new skill.
            However, dispete wanting to persue a career in cyber security. I like to try other things as well, to keep my horizons broad.
            Feel free to browse through my projects to see my commitment and how i bring my work to life, and feel free to reach to reach out to discuss any opportunaties.
        </p>
    </div>
</div>

<!-- Recent projects section -->

<div class="background-even auto-background-md auto-background-sm px-5">
    <h2 class="text-center">Recent Projects</h2>

    <div class="container-fluid h-100">
        <!-- Cards for recent Projects -->
        <div class="row align-content-center justify-content-center h-100">
            {% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
            {% assign main_projects = '' | split: '' %}
            {% for project in sorted_portfolio %}
                {% assign path_parts = project.relative_path | split: '/' %}
                {% if path_parts.size == 2 %}
                    {% assign main_projects = main_projects | push: project %}
                {% endif %}
            {% endfor %}

            {% for project in main_projects limit:3 %}
                <div class="col-md-4 col-sm-12 d-flex">
                    <div class="recent-project-card card shadow rounded-5 d-flex w-100 flex-column justify-content-center align-items-center h-100 mt-3 p-4 text-center">
                        
                        <div class="recent-project-card-img-background d-flex justify-content-center align-items-center w-100">
                            <img class="recent-project-card-img" src="{{ project.icon | relative_url }}" alt="{{ project.title }}">
                        </div>

                        <div class="d-flex flex-column justify-content-center align-items-center w-100 mt-3">
                            <h5 class="recent-project-card-title">{{ project.title }}</h5>
                            <p class="recent-project-card-text">{{ project.description }}</p>

                            <a href="{{ project.url | relative_url }}" class="w-100">
                                <button class="recent-project-card-button rounded-4 w-100">Find Out More</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="background-odd h-auto auto-background-sm px-5">
    <h2 class="text-center mb-3">Overview of Work</h2>

    <!-- Tabs Navigation -->
    <div class="custom-pills mb-3">
        <ul class="nav nav-pills nav-justified mb-2" id="nav-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-cyber-security-tab" data-bs-toggle="pill" data-bs-target="#pills-cyber-security" type="button" role="tab" aria-controls="pills-cyber-security" aria-selected="false">Cyber Security</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-programming-tab" data-bs-toggle="pill" data-bs-target="#pills-programming" type="button" role="tab" aria-controls="pills-programming" aria-selected="false">Programming</button>
            </li>
        </ul>
    </div>

    <!-- Tabs Content -->
    <div class="tab-content" id="pills-tabContent">
    
    <!-- All -->
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
            {% for project in sorted_portfolio %}
            {% assign path_parts = project.relative_path | split: '/' %}
            {% if path_parts.size == 2 %}
            <div class="col">
                <div class="card shadow rounded-4 mt-3 p-4">
                    <div class="project-page-project-card-image-background d-flex h-100">
                        <img class="project-page-project-card-image" src="{{ project.icon | relative_url }}" alt="{{ project.title }}">
                    </div>
                    <div>
                        <h5 class="project-page-project-card-title">
                        <a class="project-page-project-card-title-link" href="{{ project.url | relative_url }}">{{ project.title }}</a>
                        </h5>
                        <p class="project-page-project-card-text">
                        Topics:
                        {% for topic in project.topics %}
                            <span class="topic rounded-pill">{{ topic }}</span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Cyber Security -->
    <div class="tab-pane fade" id="pills-cyber-security" role="tabpanel" aria-labelledby="pills-cyber-security-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
            {% for project in sorted_portfolio %}
            {% assign path_parts = project.relative_path | split: '/' %}
            {% if path_parts.size == 2 and project.topics contains "Cyber Security" %}
            <div class="col">
                <div class="card shadow rounded-4 mt-3 p-4">
                    <div class="project-page-project-card-image-background d-flex h-100">
                        <img class="project-page-project-card-image" src="{{ project.icon | relative_url }}" alt="{{ project.title }}">
                    </div>
                    <div>
                        <h5 class="project-page-project-card-title">
                        <a class="project-page-project-card-title-link" href="{{ project.url | relative_url }}">{{ project.title }}</a>
                        </h5>
                        <p class="project-page-project-card-text">
                        Topics:
                        {% for topic in project.topics %}
                            <span class="topic rounded-pill">{{ topic }}</span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Programming -->
    <div class="tab-pane fade" id="pills-programming" role="tabpanel" aria-labelledby="pills-programming-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
            {% for project in sorted_portfolio %}
            {% assign path_parts = project.relative_path | split: '/' %}
            {% if path_parts.size == 2 and project.topics contains "Programming" %}
            <div class="col">
                <div class="card shadow h-100 rounded-4 mt-3 p-4">
                    <div class="project-page-project-card-image-background d-flex h-100">
                        <img class="project-page-project-card-image" src="{{ project.icon | relative_url }}" alt="{{ project.title }}">
                    </div>
                    <div>
                        <h5 class="project-page-project-card-title">
                        <a class="project-page-project-card-title-link" href="{{ project.url | relative_url }}">{{ project.title }}</a>
                        </h5>
                        <p class="project-page-project-card-text">
                        Topics:
                        {% for topic in project.topics %}
                            <span class="topic rounded-pill">{{ topic }}</span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    </div>
</div>