@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.red-hat-display-black {
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Root Colours */

:root,
[data-bs-theme="dark"]{
    --background: #001d3d;
    --background-secondary: #003566;
    --base-text: white;
    --image-background: black;
    --main-accent: #a9d6e5;
    --hover-highlight: #ffc300;
}

/* Text Styling */

h1{
    padding-top: 10%;
    font-family: "Red Hat Display";
    text-align: center;
    color: var(--main-accent) !important;
    font-size: 3vw !important;
}

h2{
    padding-top: 2.5%;
    font-family: "Red Hat Display";
    text-align: center;
    color: var(--main-accent) !important;
    font-size: 2vw !important;
}

h3{
    color: var(--main-accent) !important;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 1.75vw !important;
}

h5{
    font-family: "Red Hat Display";
    color: var(--main-accent) !important;
    
}

ul{
    color: var(--base-text);
}

li{
    font-family: "Source Code Pro";
}

p{
    font-size: 1.25vw !important;
    font-family: "Source Code Pro";
    color: var(--base-text);
}

a{
    color: var(--main-accent) !important;
}

a:hover{
    color: var(--hover-highlight) !important;
}

b{
    font-family: "Source Code Pro";
}

/* Styling for universial elements (To be used on mulitple pages) */

body{
    background-color: var(--background) !important;
}

.background-odd{
    background-color: var(--background);
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.background-even{
    background-color: var(--background-secondary);
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

/* Recent Blog Post Styling */

.recent-blog-post{
    background-color: var(--background-secondary);
    border-radius: 25px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.recent-blog-post-title{
    margin-top: 0.5%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    color: var(--main-accent) !important;
    font-size: 1.25vw !important;
}

.recent-blog-post-title-link{
    color: var(--main-accent);
    text-decoration: none;
    transition: ease 0.5s;
}

.recent-blog-post-title-link:hover{
    color: var(--hover-highlight);
}

.recent-blog-post-text{
    padding-bottom: 1.5%;
    padding-right: 1.5%;
    font-size: 1vw !important;
}

/* Recent Project Card Styling */

.recent-project-card{
    margin-top: 5%;
    border-radius: 25px;
    padding: 4%;
    box-shadow: 0px 0px 20px 1px var(--main-accent);
}

.recent-project-card-img-background{
    background-color: var(--image-background);
    padding: 10%;
}

.recent-project-card-img{
    height: auto;
    width: 100%;
    max-width: 100%;
}

.recent-project-card-title{
    margin-top: 2.5%;
    font-size: 1.45vw;
}

.recent-project-card-text{
    font-size: 0.85vw !important;
}

.recent-project-card-button{
    width: 95%;
    height: 50px; /*Find fix for not using percentage.*/
    border-radius: 15px;
    border-style: solid;
    border-color: var(--main-accent);
    color: var(--main-accent);
    border-width: 1px;
    font-family: "Source Code Pro";
    background-color: transparent;
    transition: ease 0.25s;
}

.recent-project-card-button:hover{
    background-color: var(--main-accent);
    color: var(--background-secondary);
}

/* Email Styling */


#contact-me-form{
    margin-top: 4%;
}

#contact-me-form-your-email, #contact-me-form-email-subject{
    width: 100%;
    height: 7.5%;
    margin-bottom: 0.75%;
    padding-left: 1%;
    background-color: var(--main-accent);
    border-style: none;
    border-radius: 15px;
}

#contact-me-form-email-body{
    width: 100%;
    padding-left: 1%;
    background-color: var(--main-accent);
    border-style: none;
    border-radius: 15px;
}

.contact-me-form-your-email::placeholder, .contact-me-form-email-subject::placeholder{
    padding-left: 1%;
    font-family: "Source Code Pro";
}

.contact-me-form-email-body::placeholder{
    padding-left: 1%;
    font-family: "Source Code Pro";
}

.btn-container{
    margin-top: 2.5%;
    text-align: center;
}

.submit-btn{
    width: 50%;
    padding: 1.5% 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-accent);
    border-radius: 25px;
    color: var(--main-accent);
    background-color: transparent;
    transition: ease 0.25s;
}

.submit-btn:hover{
    background-color: var(--main-accent);
    color: var(--image-background);
}

/* Styling for topic*/

.topic{
    border-style: solid;
    border-radius: 25px;
    padding: 1% 2.5%;
    font-size: 10px;
}

/* Table Styling */

table{
    background-color: var(--main-accent);
    border-color: var(--background) !important;
    width: 100%;
    font-size: 1vw;
}

th{
    height: 5vh;
    text-align: center !important;
    background-color: var(--background-secondary);
}

.table-title-text{
    color: var(--main-accent);
    font-family: "Red Hat Display";
}

table, th, td {
    text-align: center;
    border: 1px solid !important;
}

/* Navigation Styling */

.navbar{
    background-color: var(--background);
    padding-left: 5% !important;
    padding-right: 10% !important;
}

.navbar-brand{
    font-family: "Red Hat Display";
    color: var(--base-text) !important;
}

.nav-link{
    font-family: "Source Code Pro";
    color: var(--base-text) !important;
}

.nav-link:hover{
    color: var(--hover-highlight) !important;
}

#Active-Page{
    color: var(--hover-highlight);
}


/* Image Styling */

#Hero-Image-Home-Page{
    height: auto;
    width: 100%;
    max-width: 85%;
    border-radius: 25%;
}

#About-Me-Home-Page-Image{
    height: auto;
    width: 100%;
    max-width: 85%;
    border-radius: 15%;
}

#About-Me-Page-Image{
    height: auto;
    width: 100%;
    max-width: 85%;
    border-radius: 10%;
}

.home-page-recent-blogs-image{
    height: auto;
    width: 100%;
    max-width: 85%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.recent-project-card-img{
    height: 125px;
    width: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.Recent-Projects-Image-Background{
    margin-left: auto;
    margin-right: auto;
}

/* All The Styling For The Home Page */

#Intro-Section-Paragraph{
    padding-top: 2%;
}

#Home-Page-About-Me-Paragraph{
    padding: 30% 0;
}

/* All The Styling For The About Page */

.about-page-heading{
    padding-top: 2.5%;
    font-size: 1.5vw !important;
}

#about-page-skills-section-text{
    padding-top: 10%;
}

.educational-history-row{
    width: 100%;
}

.educational-history-card{
    background-color: #003566;
    border-radius: 25px;
    padding: 1%;
}

.educational-history-title{
    margin-top: 0.5%;
    margin-left: 1.5%;
    font-size: 1.25vw !important;
}

.educational-history-date{
    margin-left: 3.5%;
    font-size: 1vw !important;
}

.educational-history-list{
    font-size: 1vw !important;
    margin-left: 4%;
}

#about-contact-page-list{
    padding: 0% !important;
    display: block;
    text-align: center;
}

.about-contact-page-list-item{
    list-style-type: none;
    padding-right: 0% !important;
    margin-left: -10.5% !important;
    margin-bottom: 3.5%;
    font-size: 1.25vw;
}

.about-contact-page-icon-background{
    margin-right: 2.5%;
    font-size: 1.5vw;
}

/* All The Styling For The Blog Page */

#blog-sidebar{
    width: 95%;
    padding: 5%;
    border-radius: 25px;
    margin-right: 15%;
    height: auto;
}

.searchbar-container{
    text-align: center;
}

#blog-searchbar{
    width: 100%;
    padding: 3.5%;
    border-radius: 25px;
    background-color: var(--main-accent);
    border-style: none;
}

.sidebar-title{
    text-align: left;
    padding-top: 2.5%;
}

sidebar-recent-blog-title{
    font-family: "Source Code Pro" !important;
}

.sidebar-checkbox[type="checkbox"]{
    height: 25px;
    width: 25px;
    appearance: none;
    background-color: var(--main-accent);
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-accent);
    border-radius: 5px;
    margin-left: 3%;
}

.sidebar-checkbox[type="checkbox"]:checked{
    background-color: var(--background-secondary);
}

.sidebar-checkbox[type="checkbox"]:checked::after{
    appearance: initial;
}

.sidebar-labels{
    color: var(--base-text);
    font-family: "Source Code Pro" !important;
    margin-top: 1%;
    margin-left: 2.5%;
    position:relative;
    top: -7px;
    font-size: 1.5vw;
}

.sidebar-blog-post-padding{
    padding: 2.5% 0;
}

.sidebar-recent-blog-image{
    height: auto;
    width: 100%;
    max-width: 100%;
}

.sidebar-recent-blog-title{
    margin-left: 2.5%;
    font-family: "Source Code Pro";
    text-decoration: none;
    color: var(--base-text);
    font-size: 0.85vw;
}

.sidebar-recent-blog-title:hover{
    color: var(--hover-highlight);
    font-weight: bold;
}

#blog-list{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.blog-post{
    border-bottom: solid var(--main-accent);
    padding: 3% 0;
}

.blog-post-image{
    height: 150px;
    width: auto;
    border-radius: 25px;
}

.blog-post-title{
    text-align: left;
    font-size: 1.30vw !important;
}

.blog-post-title:hover{
    color: var(--hover-highlight) !important;
}

.blog-post-title-line{
    color: inherit;
    text-decoration: none;
}

.blog-post-date{
    font-family: "Red Hat Display";
    color: var(--main-accent);
    font-size: 1vw !important;
}

.blog-post-description{
    font-size: 1vw !important;
}

/* All The Styling For The Projects Page */

#project-page-intro-section-text{
    padding-top: 1.5%;
    font-size: 1vw;
}

.project-page-project-card{
    background-color: var(--background);
    margin-top: 2.5%;
    padding: 4.5%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0.1px var(--main-accent);
}

.project-page-project-card-image-background{
    background-color: black;
    height: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}

.project-page-project-card-image{
    height: 100px;
    width: auto;
}

.project-page-project-card-title{
    padding-top: 5%;
    padding-bottom: 2.5%;
    font-size: 1.35vw;
}

.project-page-project-card-title-link{
    text-decoration: none;
    color: var(--main-accent) !important;
}

.project-page-project-card-title-link:hover{
    color: var(--hover-highlight);
}

.project-page-project-card-text{
    color: var(--main-accent);
    font-size: 0.85vw !important;
}


/* All The Styling For The Hobbies Page */

#hobbies-page-programming-section-title{
    padding-bottom: 2.5%;
}

.hobbies-page-image{
    height: auto;
    width: 100%;
    max-width: 95%;
}

/* All The Styling For The Contact Page */

#contact-page-list{
    list-style: none;
}

.contact-page-list-link{
    color: var(--base-text);
    text-decoration: none;
}

.contact-page-list-link:hover{
    color: var(--hover-highlight);
    transition: ease-in 0.3s;
}

.contact-page-list-item{
    margin-bottom: 7.5%;
    font-size: 1.25vw;
}

.contact-page-icon-background{
    margin-right: 15px;
    font-size: 1.5vw;
    padding: 2.5% 3%;
    background-color: var(--main-accent);
    border-radius: 100%;
    color: var(--background);
}

#contact-page-button{
    font-size: 1vw;
}

/* Indivual blog/portfolio post styling */

.breadcrumb-item::before{
    color: var(--base-text) !important;
}

.breadcrumb-item{
    color: var(--base-text) !important;
    font-size: 1vw;
}

.breadcrumb-item-link{
    color: var(--base-text) !important;
}

.breadcrumb-item-link:hover{
    color: var(--hover-highlight) !important;
    transition: ease 0.3s;
}

.indivual-post-page-title{
    text-align: left;
    padding-top: 0.5%;
}

.indivual-post-page-date{
    margin: 0;
    margin: 1.5% 0;
    font-size: 1.5vw!important;
    font-family: "Red Hat Display";
    color: var(--main-accent);
}

.indivual-post-page-topics{
    font-size: 1.25vw !important;
    color: var(--main-accent);
    position: relative;
    top: 5px;
    margin-top: 1%;
    margin-bottom: 3.5%;
}

.indivual-post-page-header-image-background{
    background-color: white;
    padding: 2.5% 0;
    display: flex;
    justify-content: center;
}

.indivual-post-page-header-image{
    height: auto;
    width: 20%;
    max-width: 50%;
}

.indivual-post-page-image{
    height: auto;
    width: 85%;
    max-width: 100%;
}

.blog-post-page-heading{
    text-align: left;
    margin-bottom: 2.5%;
}

.blog-post-background-odd{
    min-height: 50vh;
    background-color: var(--background-secondary);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    line-height: 1.6;
}

.blog-post-background-even{
    min-height: 50vh;
    background-color: var(--background-secondary);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    line-height: 1.6;
}

.portfolio-post-page-heading{
    text-align: left;
}

@media screen and (min-width: 1400px) {
    .recent-blog-post{
        margin-top: 0.75%;
        margin-bottom: 0.75%;
    }

    .home-page-recent-blogs-image{
        height: auto;
        width: 100%;
        max-width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 7.5%;
        margin-left: 7.5%;
        margin-bottom: 7.5%;
    }


}

@media screen and (max-width: 768px){
    .auto-background-md{
        height: auto;
        padding-bottom: 3%;
    }    
}

/* Media query for when website view is small */
@media screen and (max-width: 576px) {
    /* Text heading */
    h1{
        font-size: 6vw !important;
    }

    h2{
        font-size: 4.5vw !important;
    }

    p{
        font-size: 2.75vw !important;
    }

    li{
        font-size: 3.5vw !important;
    }

    /* Reuseable element styling */

    /* Navbar */

    .navbar{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /* Backgrounds */
    
    .auto-background-sm{
        height: auto;
        padding-bottom: 5%;
    }

    /* Blog post styling */

    .recent-blog-post-title{
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 0%;
        font-size: 4.5vw !important;
    }

    .recent-blog-post-text{
        margin-left: 4%;
        margin-right: 4%;
        font-size: 2.4vw !important;
    }

    /* Table Styling */

    table{
        font-size: 2.5vw;
    }
    
    th{
        height: 3.75vh;
    }

    /* Recent Project Card Styling */

    .recent-project-card-title{
        font-size: 3.8vw !important;
    }

    .recent-project-card-text{
        font-size: 2.4vw !important;
    }

    /* Home page styling */

    #Home-Page-About-Me-Paragraph{
        padding: 0;
    }

    /* About page styling */

    .about-page-heading{
        padding: 0;
        padding-top: 2%;
        font-size: 3.5vw !important;
    }

    .educational-history-title{
        font-size: 3.75vw !important;
    }

    .educational-history-date{
        font-size: 2.75vw !important;
    }

    .educational-history-list{
        font-size: 2.5vw !important;
    }

    .about-contact-page-list{
        font-size: 6vw !important;
    }

    .about-contact-page-list-item{
        font-size: 4vw;
    }

    .about-contact-page-icon-background{
        font-size: 4vw;
    }

    /* Blog Page styling */

    #blog-sidebar{
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    .sidebar-labels{
        font-size: 3vw;
    }

    .sidebar-recent-blog{
        padding: 0;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .sidebar-recent-blog-title{
        font-size: 2vw !important;
    }

    .sidebar-title{
        font-size: 2.75vw !important;
    }

    .blog-post-title{
        font-size: 3.6vw !important;
    }

    .blog-post-date{
        font-size: 2vw !important;
    }

    .blog-post-description{
        font-size: 2vw !important;
    }

    /* Project Page Styling */

    .project-page-project-card-title{
        font-size: 3.4vw !important;
    }

    .project-page-project-card-text{
        font-size: 2.4vw !important;
    }

    /* Hobbies Page Styling */
    .hobbies-page-image{
        height: auto;
        width: 100%;
        max-width: 100%;
        padding: 5% 0;
    }

    /* Contact Page Styling */
    .contact-page-list-item{
        font-size: 3.75vw;
    }
    
    .contact-page-icon-background{
        font-size: 4vw;
        padding: 2.5% 3.5%;
    }
    
    #contact-page-button{
        font-size: 2.75vw;
    }

    /* Indivual Post Pages Styling */
    .breadcrumb-item{
        font-size: 2.5vw !important;
    }

    .indivual-post-page-date{
        font-size: 3vw!important;
    }
    
    .indivual-post-page-topics{
        font-size: 2.5vw !important;
        margin-bottom: 5% !important;
    }

    .indivual-post-page-header-image-background{
        background-color: white;
        padding: 7.5% 0;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }
    
    .indivual-post-page-header-image{
        height: auto;
        width: 100%;
        max-width: 70%;
    }
}