<footer class="background-odd p-5 h-auto">
    <div class="container h-100 align-content-center">
        <div class="row h-100">
            <div class="col-md align-content-center">
                <h2>Kieran Pritchard</h2>
                <p>Digital Techology Student</p>
            </div>
            <div class="col-md">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/About.html' | relative_url }}">About</a></li>
                    <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
                    <li><a href="{{ '/Projects.html' | relative_url }}">Projects</a></li>
                    <li><a href="{{ '/Hobbies.html' | relative_url }}">Hobbies</a></li>
                    <li><a href="{{ '/Contact.html' | relative_url }}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h2>Contact Information</h2>
                <ul id="contact-footer-list">
                    <li class="contact-footer-list-item"><span class="contact-footer-icon-background p-2"><i class="align-content-center footer-icon fa-solid fa-phone"></i></span>+44 07763 534145</li>
                    <li class="contact-footer-list-item"><span class="contact-footer-icon-background p-2"><i class="align-content-center footer-icon fa-solid fa-envelope"></i></span>KieranPritchard06@gmail.com</li>
                    <li class="contact-footer-list-item"><span class="contact-footer-icon-background p-2"><i class="align-content-center footer-icon fa-brands fa-linkedin"></i></span><a class="contact-page-list-link" href="https://www.linkedin.com/in/Kieran-Pritchard" target="_blank" rel="noopener">Linkedin</a></li>
                    <li class="contact-footer-list-item"><span class="contact-footer-icon-background p-2"><i class="align-content-center footer-icon fa-brands fa-github"></i></span><a class="contact-page-list-link" href="https://www.github.com/KieranPritchard" target="_blank" rel="noopener">GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center p-3">
            &copy; 2025 Kieran Pritchard. All rights reserved.
            All copyrighted materials are the property of their respective owners. Used here for portfolio demonstration purposes only.
        </div>
    </div>
</footer>