@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.red-hat-display-black {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text Styling */

h1{
    font-family: "Red Hat Display";
    text-align: center;
    color: #a9d6e5 !important;
}

h2{
    font-family: "Red Hat Display";
    text-align: center;
    color: #a9d6e5 !important;
}

h5{
    font-family: "Red Hat Display";
    color: #a9d6e5 !important;
    
}

p{
    font-family: "Source Code Pro";
    color: white;
}

b{
    font-family: "Source Code Pro";
}

/* Background Colours */

.background-odd{
    background-color: #001d3d;
}

.background-even{
    background-color: #003566;
}

/* Navigation Styling */

.navbar{
    background-color: #001d3d;
}

.navbar-brand{
    font-family: "Red Hat Display";
    color: white !important;
}

.nav-link{
    font-family: "Source Code Pro";
    color: white !important;
}

.nav-link:hover{
    color: #ffc300 !important;
}

#Active-Page{
    color: #ffc300;
}

/* Card Styling */

.card-body{
    background-color: #003566;
}

/* Image Styling */

#Hero-Image-Home-Page{
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

#About-Me-Home-Page-Image{
    height: 350px;
    width: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Home-Page-Recent-Blogs-One{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Home-Page-Recent-Blogs-Two{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Home-Page-Recent-Blogs-Three{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Home-Page-Recent-Projects-One, #Home-Page-Recent-Projects-Two, #Home-Page-Recent-Projects-Three{
    height: 125px;
    width: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.Recent-Projects-Image-Background{
    width: 100%;
    background-color: #003566;
}

/* Home Page Custom Measurements*/

#Intro-Section-Home-Page{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

#Intro-Section-Paragraph{
    padding-top: 20px;
}