@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.red-hat-display-black {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text Styling */

h1{
    font-family: "Red Hat Display";
    text-align: center;
}

h2{
    font-family: "Red Hat Display";
    text-align: center;
}

h5{
    font-family: "Red Hat Display";
}

p{
    font-family: "Source Code Pro";
}

b{
    font-family: "Source Code Pro";
}

/* Background Colours */

.background-odd{
    background-color: #001d3d;
}

.background-even{
    background-color: #003566;
}

/* Navigation Styling */

.navbar{
    background-color: #001d3d;
}

.navbar-brand{
    font-family: "Red Hat Display";
}

.navlink{
    font-family: "Source Code Pro";
}

/* Home page recent blogs section */

.card-body{
    background-color: #003566;
}