@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.red-hat-display-black {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text Styling */

h1{
    padding-top: 175px;
    font-family: "Red Hat Display";
    text-align: center;
    color: #a9d6e5 !important;
}

h2{
    padding-top: 30px;
    font-family: "Red Hat Display";
    text-align: center;
    color: #a9d6e5 !important;
}

h3{
    color: #a9d6e5 !important;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 20px !important;
}

h5{
    font-family: "Red Hat Display";
    color: #a9d6e5 !important;
    
}

ul{
    color: white;
}

p{
    font-family: "Source Code Pro";
    color: white;
}

b{
    font-family: "Source Code Pro";
}

/* Styling for universial elements (To be used on mulitple pages) */

body{
    background-color: #001d3d !important;
}

.background-odd{
    background-color: #001d3d;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.background-even{
    background-color: #003566;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

/* Recent Blog Post Styling */

.recent-blog-post{
    background-color: #003566;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.recent-blog-post-title{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #a9d6e5 !important;
}

.recent-blog-post-title-link{
    color: #a9d6e5;
    text-decoration: none;
}

.recent-blog-post-title-link:hover{
    color: #ffc300;
}

.recent-blog-post-text{
    padding-bottom: 15px;
}

/* Recent Project Card Styling */

.recent-project-card{
    margin-top: 40px;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 0px 20px 1px #a9d6e5;
}

.recent-project-card-img-background{
    background-color: black;
    padding: 40px;
}

.recent-project-card-img{
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.recent-project-card-title{
    margin-top: 15px;
}

.recent-project-card-text{
    font-size: 15px;
}

.recent-project-card-button{
    width: 95%;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: #a9d6e5;
    color: #a9d6e5;
    border-width: 1px;
    font-family: "Source Code Pro";
    background-color: transparent;
}

.recent-project-card-button:hover{
    background-color: #a9d6e5;
    color: #003566;
}

/* Email Styling */


#contact-me-form{
    margin-top: 40px;
}

#contact-me-form-your-email, #contact-me-form-email-subject{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #a9d6e5;
    border-style: none;
    border-radius: 15px;
}

#contact-me-form-email-body{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #a9d6e5;
    border-style: none;
    border-radius: 15px;
}

.contact-me-form-your-email::placeholder, .contact-me-form-email-subject::placeholder{
    padding-left: 5px;
    font-family: "Source Code Pro";
}

.contact-me-form-email-body::placeholder{
    padding-left: 5px;
    font-family: "Source Code Pro";
}

.btn-container{
    margin-top: 40px;
    text-align: center;
}

.submit-btn{
    width: 50%;
    padding: 10px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #a9d6e5;
    border-radius: 25px;
    color: #a9d6e5;
    background-color: transparent;
}

.submit-btn:hover{
    background-color: #a9d6e5;
    color: #001d3d;
}

/* Styling for topic*/

.topic{
    border-style: solid;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 10px;
}

/* Table Styling */

table{
    background-color: #a9d6e5;
    border-color: #001d3d !important;
    width: 100%;
}

th{
    height: 60px;
    text-align: center !important;
    background-color: #003566;
}

.table-title-text{
    color: #a9d6e5;
    font-family: "Red Hat Display";
}

table, th, td {
    text-align: center;
    border: 1px solid !important;
}

/* Navigation Styling */

.navbar{
    background-color: #001d3d;
    padding-left: 5% !important;
    padding-right: 10% !important;
}

.navbar-brand{
    font-family: "Red Hat Display";
    color: white !important;
}

.nav-link{
    font-family: "Source Code Pro";
    color: white !important;
}

.nav-link:hover{
    color: #ffc300 !important;
}

#Active-Page{
    color: #ffc300;
}


/* Image Styling */

#Hero-Image-Home-Page{
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

#About-Me-Home-Page-Image{
    height: 400px;
    width: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#About-Me-Page-Image{
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin: auto;
}

.home-page-recent-blogs-image{
    height: 120px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
}

.recent-project-card-img{
    height: 125px;
    width: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.Recent-Projects-Image-Background{
    margin-left: auto;
    margin-right: auto;
}

/* All The Styling For The Home Page */

#Intro-Section-Paragraph{
    padding-top: 20px;
}

#Home-Page-About-Me-Paragraph{
    padding: 170px 0;
}

/* All The Styling For The About Page */

.about-page-heading{
    padding-top: 30px;
}

#about-page-skills-section-text{
    padding-top: 10px;
}

.educational-history-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 30%);
    width: 100%;
}

.educational-history-row{
    width: 100%;
}

.educational-history-card{
    background-color: #003566;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.educational-history-title{
    margin-top: 5px;
    margin-left: 10px;
}

.educational-history-date{
    margin-left: 15px;
}

.educational-history-list{
    margin-left: 20px;
}

.about-contact-me-list-item{
    list-style-type: none;
    font-size: 22px;
    margin-bottom: 15px;
}

#about-contact-me-phone-icon,#about-contact-me-email-icon{
    font-size: 40px;
    padding-right: 15px;
}

/* All The Styling For The Blog Page */

#blog-sidebar{
    padding: 25px;
    border-radius: 25px;
    margin-right: 60px;
    height: 70vh;
}

.searchbar-container{
    text-align: center;
}

#blog-searchbar{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: #a9d6e5;
    border-style: none;
}

.sidebar-title{
    text-align: left;
    padding-top: 10px;
}

.sidebar-checkbox[type="checkbox"]{
    height: 25px;
    width: 25px;
    appearance: none;
    background-color: #a9d6e5;
    border-width: 2px;
    border-style: solid;
    border-color: #a9d6e5;
    border-radius: 5px;
    margin-left: 15px;
}

.sidebar-checkbox[type="checkbox"]:checked{
    background-color: #003566;
}

.sidebar-checkbox[type="checkbox"]:checked::after{
    appearance: initial;
}

.sidebar-labels{
    color: white;
    font-family: "Source Code Pro" !important;
    margin-top: 1px;
    margin-left: 10px;
    position:relative;
    top: -6px;
}

.sidebar-recent-blog{
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidebar-recent-blog-image{
    height: 50px;
    width: auto;
    border-radius: 25px;
}

.sidebar-recent-blog-title{
    margin-left: 15px;
    font-family: "Source Code Pro";
    text-decoration: none;
    color: white;
}

.sidebar-recent-blog-title:hover{
    color: #ffc300;
    font-weight: bold;
}

#blog-list{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.blog-post{
    border-bottom: solid #a9d6e5;
    padding-bottom: 30px;
}

.blog-post-image{
    height: 150px;
    width: auto;
    border-radius: 25px;
}

.blog-post-title{
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
}

.blog-post-title:hover{
    color: #ffc300 !important;
}

.blog-post-title-line{
    color: inherit;
    text-decoration: none;
}

.blog-post-date{
    font-family: "Red Hat Display";
    color: #a9d6e5;
    font-size: 15px;
}

.blog-post-description{
    font-size: 16px;
}

/* All The Styling For The Projects Page */

#project-page-intro-section-text{
    padding-top: 30px;
    font-size: 16px;
}

.project-page-project-card{
    background-color: #003566;
    margin-top: 30px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0.1px #a9d6e5;
}

.project-page-project-card-image-background{
    background-color: black;
    height: 150px;
}

.project-page-project-card-image{
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.project-page-project-card-title{
    padding-top: 20px;
    padding-bottom: 10px;
}

.project-page-project-card-text{
    color: #a9d6e5;
}


/* All The Styling For The Hobbies Page */

#hobbies-page-programming-section-title{
    padding-bottom: 30px;
}

.hobbies-page-image{
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#hobbies-page-gaming-section-text, #hobbies-page-collecting-section-text{
    padding-top: 150px;
}

/* All The Styling For The Contact Page */

#contact-page-list{
    list-style: none;
}

.contact-page-list-item{
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-page-icon-background{
    margin-right: 15px;
    font-size: 25px;
    padding: 10px;
    background-color: #a9d6e5;
    border-radius: 100px;
    color: #001d3d;
}

/* Indivual blog/portfolio post styling */

.indivual-post-page-title{
    text-align: left;
    padding-top: 20px;
}

.indivual-post-page-date{
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    font-family: "Red Hat Display";
    color: #a9d6e5;
}

.indivual-post-page-topics{
    font-size: 15px;
    color: #a9d6e5;
    position: relative;
    top: 5px;
    margin-bottom: 20px;
}

.indivual-post-page-header-image-background{
    height: 200px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#indivual-post-page-header-image{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

.blog-post-page-heading{
    text-align: left;
    margin-bottom: 30px;
}

.portfolio-post-page-heading{
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Media query for when website view is small */
@media screen and (max-width: 576px) {
    /* Text heading */
    h1{
        padding: 0;
    }

    /* Reuseable element styling */

    /* Navbar */

    .navbar{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /* Backgrounds */
    
    .auto-background{
        height: auto;
        padding-bottom: 30px;
    }

    /* Blog post styling */

    .recent-blog-post-title{
        margin-left: 20px;
        margin-right: 20px;
    }

    .recent-blog-post-text{
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Home page styling */

    #Home-Page-About-Me-Paragraph{
        padding: 0;
    }

    /* About page styling */

    .about-page-heading{
        padding: 0;
        padding-top: 10px;
    }

    /* Blog Page styling */

    #blog-sidebar{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .sidebar-recent-blog{
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}