@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.red-hat-display-black {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text Styling */

h1{
    font-family: "Red Hat Display";
    text-align: center;
    color: #a9d6e5 !important;
}

h2{
    font-family: "Red Hat Display";
    text-align: center;
    color: #a9d6e5 !important;
}

h3{
    color: #a9d6e5 !important;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 20px !important;
}

h5{
    font-family: "Red Hat Display";
    color: #a9d6e5 !important;
    
}

ul{
    color: white;
}

p{
    font-family: "Source Code Pro";
    color: white;
}

b{
    font-family: "Source Code Pro";
}

/* Background Colours */

.background-odd{
    background-color: #001d3d;
}

.background-even{
    background-color: #003566;
}

/* Navigation Styling */

.navbar{
    background-color: #001d3d;
}

.navbar-brand{
    font-family: "Red Hat Display";
    color: white !important;
}

.nav-link{
    font-family: "Source Code Pro";
    color: white !important;
}

.nav-link:hover{
    color: #ffc300 !important;
}

#Active-Page{
    color: #ffc300;
}

/* Card Styling */

.card-body{
    background-color: #003566;
}

/* Image Styling */

#Hero-Image-Home-Page{
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

#About-Me-Home-Page-Image{
    height: 400px;
    width: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#Home-Page-Recent-Blogs-One{
    height: 120px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
}

#Home-Page-Recent-Blogs-Two{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Home-Page-Recent-Blogs-Three{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Home-Page-Recent-Projects-One, #Home-Page-Recent-Projects-Two, #Home-Page-Recent-Projects-Three{
    height: 125px;
    width: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.Recent-Projects-Image-Background{
    margin-left: auto;
    margin-right: auto;
}

/* Home Page Custom Measurements*/

#Intro-Section-Home-Page{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

#Intro-Section-Paragraph{
    padding-top: 20px;
}

#About-Section-Home-Page{
    padding-top: 30px;
    padding-bottom: 200px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

#Home-Page-About-Me-Paragraph{
    padding: 170px 0;
}

#Blogs-Section-Home-Page{
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

.recent-blog-post-home-page{
    background-color: #003566;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.recent-blog-post-home-page-title{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.recent-blog-post-home-page-title-link{
    color: #a9d6e5;
    text-decoration: none;
}

.recent-blog-post-home-page-title-link:hover{
    color: #ffc300;
}

.recent-blog-post-home-page-text{
    padding-bottom: 15px;
}

#Recent-Projects-Section{
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}

.recent-project-card{
    margin-top: 40px;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 0px 20px 1px #a9d6e5
}

.recent-project-card-img-background{
    background-color: black;
    padding: 40px;
}

.recent-project-card-img{
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.recent-project-card-title{
    margin-top: 15px;
}

.recent-project-card-text{
    font-size: 15px;
}

.recent-project-card-button{
    width: 95%;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: #a9d6e5;
    color: #a9d6e5;
    border-width: 1px;
    font-family: "Source Code Pro";
    background-color: transparent;
}

.recent-project-card-button:hover{
    background-color: #a9d6e5;
    color: #003566;
}

/* About Page Styling*/

#about-page-intro-section{
    height: 100vh;
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
}

#about-page-skills-section{
    height: 100vh;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.about-page-skills-section-heading{
    padding-top: 30px;
}

#about-page-skills-section-text{
    padding-top: 10px;
}

#about-page-educational-history-section{
    height: 100vh;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.educational-history-card{
    margin-top: 140px !important;
    background-color: #003566;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.educational-history-title{
    margin-top: 5px;
    margin-left: 10px;
}

.educational-history-date{
    margin-left: 15px;
}

.educational-history-list{
    margin-left: 20px;
}

#about-page-contact-section{
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}

#about-page-contact-section-title{
    margin-top: 40px;
}

#about-contact-me-form{
    margin-top: 40px;
}

#about-contact-me-form-email, #about-contact-me-form-email-subject{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #a9d6e5;
    border-style: none;
    border-radius: 15px;
}

#about-contact-me-form-email-body{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #a9d6e5;
    border-style: none;
    border-radius: 15px;
}

#about-contact-me-form-email::placeholder, #about-contact-me-form-email-subject::placeholder{
    padding-left: 5px;
    font-family: "Source Code Pro";
}

#about-contact-me-form-email-body::placeholder{
    padding-left: 5px;
    font-family: "Source Code Pro";
}

.btn-container{
    margin-top: 20px;
    text-align: center;
}

.submit-btn{
    width: 50%;
    padding: 10px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #a9d6e5;
    border-radius: 25px;
    color: #a9d6e5;
    background-color: transparent;
}

.submit-btn:hover{
    background-color: #a9d6e5;
    color: #001d3d;
}